<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <%- include("head", locals) %>
</head>

<body class="preload">
    <%- include("navigation", locals) %>
    <div class="content">
        <h1>Build #<%= build.id %></h1>
        <h2><%= build.status %></h2>
        <div class="grid-2col">
            <label>Repo</label> <span><%= build.repo %></span>
            <label>Commit</label> <span><% if (build.commit) { %><%= build.commit %><% } else { %>latest<% } %></span>
            <label>Patch</label> <span><% if (build.patch) { %><a href="/build/<%= build.id %>/patch">patch file</a><% } else { %>none<% } %></span>
            <label>Distro</label> <span><%= build.distro %></span>
            <label>Start time</label> <span><%= build.startTime %></span>
        </div>
        <p><a href="/build/<%= build.id %>/logs">Full logs</a></p>
        <div class="logs" id="logs">
            <% (log || []).forEach(line => { %>
                <p><%= line %></p>
            <% }) %>
        </div>
    </div>
    <%- include("footer", locals) %>
</body>
</html>
