<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <%- include("head", locals) %>
</head>

<body class="preload">
    <%- include("navigation", locals) %>
    <div class="content">
        <h1>Build history</h1>
        <table>
            <tr>
                <th>Repo</th>
                <th>Distro</th>
                <th>Date Started</th>
                <th>Build Duration</th>
                <th>Build Status</th>
            </tr>
            <% builds.forEach(build => { %>
                <tr>
                    <td><a href="/build/<%= build.id %>"><%= build.repo %></a></td>
                    <td><%= build.distro %></td>
                    <td class="to-local-time"><%= build.startTime %></td>
                    <td><%= timeElapsed(build.startTime, build.endTime) %></td>
                    <td><%= build.status %></td>
                </tr>
            <% }) %>
        </table>
    </div>
    <%- include("footer", locals) %>
    <script src="/assets/js/timezone.js?v1" nonce="<%= cspNonce %>"></script>
</body>
</html>
